// 全局变量声明样式表

// 边框颜色
$border-color: #dcdfe6;

// 侧边栏背景色
$sidebar-bg-color: #001428;

// 主色
$brand-color: #409eff;

// 辅助色
$success-color: #67c23a;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$info-color: #909399;

// 字体颜色
$font-size-black: #303133;
